body{
    width:50%;
    height: 50%;
    padding: 0;
    margin-top: 0;
    position: absolute;
    left: 25%;
    border: chocolate;
}
.imgcontainer {
    text-align: center; 
    margin: 24px 0 12px 0;
  }
  .container{
    background-color: tan;

  }
  img.vote {
    width: 40%;
    border-radius: 50%;
  }
legend{
    text-align: center;
    color: rgb(19, 17, 17);
}
label{
    align-items: center;
    display: inline-block;
    text-align: center;
    
}
label{
  text-transform: capitalize;
  color: rgb(10, 9, 9);
  font-size: 10px;
  align-content: center;
  text-align: center;
  right: 50%;
}
select{
  text-transform: capitalize;
  color: darkblue;
  font-size: 10px;
  display: block;
  align-content: center;
  right: 50%;
}
.date{
  text-transform: capitalize;
  color: chartreuse;
  font-size: 10px;
}
input{
  color: black;
  display: block;
  align-content: center;
}
main{
  background-color: tan;

}
main select{
  text-transform: capitalize;
  color: darkblue;
  font-size: 10px;
  display: inline-block;
}


