body{
    width:420px;
    height:auto;
    padding: 0;
    margin-top: 0;
    background-image: url("image2.jpg");
    background-repeat: no-repeat;
    position: absolute;
    background-size:100%,auto;
    left: 25%;
}
.img_container {
    text-align: center; 
    margin: 24px 0 12px 0;
  }
  .container{
    background-color: rgb(228, 192, 93);

  }
  img.vote {
    width: 40%;
    border-radius: 50%;
  }
legend{
    text-align: center;
    color: rgb(51, 19, 19);
}
label{
    align-items: center;
    display: inline-block;
    text-align: center;   
}
label{
  text-transform: capitalize;
  color: rgb(49, 20, 20);
  font-size: 23px;
  align-content: center;
  text-align: center;
  right: 50%;
}
select{
  text-transform: capitalize;
  color: darkblue;
  font-size: 23px;
  display: block;
  align-content: center;
  right: 50%;
}
.date{
  text-transform: capitalize;
  color: rgb(121, 68, 9);
  font-size: 23px;
}
input{
  color: black;
  display: block;
  align-content: center;
}
main{
  background-color: rgb(226, 212, 14);

}
main select{
  text-transform: capitalize;
  font-size: 23px;
  color: darkblue;
  font-size: 23px;
  display: inline-block;
}


